#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timeline {
 position: absolute; 
}

.line {
  background-color: black;
  height: 100%;
  width: 1px;
  left: 50%;
  top: 0;
}

.tick {
  background-color: black;
  height: 1px;
  width: 10px;
  transform: translateX(-50%);
}

.tick-label {
  font-size: .5rem;
  left: 15px;
  transform: translateY(-50%);
  white-space: nowrap;
}

.now-tick {
  height: 1px;
  width: 50px;
  transform: translateX(-90%);
  background-color: red;
}

.now-tick-label {
  left:auto;
  right: 65px;
  text-align: right;
}

.now-tick-label, .now {
  color: red;
}